$gray-100: #e6e6fa;

.bg-gray-100 {
  background-color: $gray-100;
}
.flex {
  display: flex;
}
.between {
  justify-content: space-between;
}
.b-r {
  border-radius: 20px;
}
.round {
  border-radius: 100%;
}

#index {
  background-color: $gray-100;
  #bodycontainer {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    #maincontent {
      margin-top: 10vh;
      height: 70vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        text-align: center;
      }
      img {
        width: 300px;
      }
    }
    #features {
      height: 75vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      .carousel {
        .carousel-item {
          height: 300px;
          background-color: bisque;
          .content {
            height: 100%;
            display: flex;
            align-items: center;
            img {
              height: 250px;
              width: 350px;
            }
            
            
          }
        }
      }
    }
  }
}

/*!
 -------------------------------------------
 */

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
