$gray-100: #e6e6fa;
$brown-200: rgba(167, 125, 82, 1);
$brown-100: rgba(254, 243, 195, 1);
$brown-300: rgba(67, 51, 28, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-right: linear-gradient(
  90deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-left: linear-gradient(
  270deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-radial: radial-gradient(
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);

.bg-gray-100 {
  background-color: $gray-100;
}
.flex {
  display: flex;
}
.between {
  justify-content: space-between;
}
.b-r {
  border-radius: 20px;
}
.round {
  border-radius: 100%;
}

#index {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, $brown-200 65%),
    url(../../Speedwagon_sepia.jpg) no-repeat $brown-200;
  background-position: 0px -130px;
  background-size: 100vw;
  height: 100%;
  #bodycontainer {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    #maincontent {
      margin-top: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        text-align: center;
      }
      img {
        width: 300px;
      }
    }
    #features {
      display: flex;
      flex-direction: column;
      align-items: center;
      h4 {
        font-weight: normal;
      }
      .carousel {
        width: 70vw;
        .carousel-item {
          height: 300px;
          .content {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            .text-area {
              width: 470px;
            }
            img {
              height: 250px;
              width: 350px;
            }
          }
        }
      }
    }
    #reviews {
      .carousel {
        .carousel-item {
          width: 500px;
          height: 700px;
          .img {
            width: 200px;
            height: 200px;
            background-size: cover;
            background-position: center;
          }
          .img-cent {
            background-position: center;
          }
          .img-left {
            background-position: left;
          }
          .img-right {
            background-position: right;
          }
        }
      }
    }
  }
}

/*!
 -------------------------------------------
 */
