/* SCSS Gradient */
.bg-gray-100 {
  background-color: #e6e6fa;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-r {
  border-radius: 20px;
}

.round {
  border-radius: 100%;
}

#index {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(65%, #a77d52)), url(../../Speedwagon_sepia.jpg) no-repeat #a77d52;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #a77d52 65%), url(../../Speedwagon_sepia.jpg) no-repeat #a77d52;
  background-position: 0px -130px;
  background-size: 100vw;
  height: 100%;
}

#index #bodycontainer {
  margin: 0 auto;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index #bodycontainer #maincontent {
  margin-top: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index #bodycontainer #maincontent p {
  text-align: center;
}

#index #bodycontainer #maincontent img {
  width: 300px;
}

#index #bodycontainer #features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index #bodycontainer #features h4 {
  font-weight: normal;
}

#index #bodycontainer #features .carousel {
  width: 70vw;
  height: 350px;
}

#index #bodycontainer #features .carousel .carousel-item .content {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#index #bodycontainer #features .carousel .carousel-item .content .text-area {
  width: 470px;
}

#index #bodycontainer #features .carousel .carousel-item .content img {
  height: 250px;
  width: 350px;
}

#index #bodycontainer #reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index #bodycontainer #reviews .carousel {
  width: 500px;
}

#index #bodycontainer #reviews .carousel .carousel-item {
  height: 400px;
}

#index #bodycontainer #reviews .carousel .carousel-item .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index #bodycontainer #reviews .carousel .carousel-item .content .img {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

#index #bodycontainer #reviews .carousel .carousel-item .content .img-cent {
  background-position: center;
}

#index #bodycontainer #reviews .carousel .carousel-item .content .img-left {
  background-position: left;
}

#index #bodycontainer #reviews .carousel .carousel-item .content .img-right {
  background-position: right;
}

/*!
 -------------------------------------------
 */
/*# sourceMappingURL=index.css.map */