$gray-100: #e6e6fa;
$brown-200: rgba(167, 125, 82, 1);
$brown-100: rgba(254, 243, 195, 1);
$brown-300: rgba(67, 51, 28, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-right: linear-gradient(
  90deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-left: linear-gradient(
  270deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-radial: radial-gradient(
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);

.bg-gray-100 {
  background-color: $gray-100;
}
.flex {
  display: flex;
}
.between {
  justify-content: space-between;
}
.b-r {
  border-radius: 20px;
}
.round {
  border-radius: 100%;
}
.b-sides {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#index {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, $brown-200 45%),
    url(../../Speedwagon_sepia.jpg) no-repeat $brown-200;
  background-position: 0px -130px;
  background-size: 100vw;
  height: 100%;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.288);
    outline: 1px solid slategrey;
    border-radius: 50px;
  }

  #bodycontainer {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    #welcome {
      width: 60%;
      margin-top: 470px;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        text-align: center;
      }
      img {
        width: 300px;
      }
    }
    #maincontent {
      width: 80%;
      #features {
        background-color: rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
          font-weight: normal;
        }
        .carousel {
          border-radius: 10px;
          width: 70vw;
          height: 350px;
          .carousel-item {
            .content {
              margin-top: 20px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              .text-area {
                width: 470px;
              }
              img {
                height: 250px;
                width: 350px;
              }
            }
          }
        }
      }
      #reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
        .carousel {
          width: 500px;
          .carousel-item {
            height: 400px;
            .content {
              display: flex;
              flex-direction: column;
              align-items: center;

              .img {
                width: 200px;
                height: 200px;
                background-size: cover;
                background-position: center;
              }
              .img-cent {
                background-position: center;
              }
              .img-left {
                background-position: left;
              }
              .img-right {
                background-position: right;
              }
            }
          }
        }
      }
      #signup {
        background-color: rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          border-radius: 10px;
          height: 450px;
        }
      }
    }
  }
}

/*!
 -------------------------------------------
 */
