$gray-100: #e6e6fa;
$brown-200: rgba(167, 125, 82, 1);
$brown-100: rgba(254, 243, 195, 1);
$brown-300: rgba(67, 51, 28, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-right: linear-gradient(
  90deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-left: linear-gradient(
  270deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);
$gradient-radial: radial-gradient(
  #a77d52ff,
  #fef3c3ff,
  #43331cff,
  #fef3c3ff,
  #a77d52ff
);