/* SCSS Gradient */
html {
  background-color: #a77d52;
}

.bg-gray-100 {
  background-color: #e6e6fa;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-r {
  border-radius: 20px;
}

.round {
  border-radius: 100%;
}

.b-sides {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

html {
  font-size: 120%;
}

#index {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(90%, #a77d52)), url(./Assets/Speedwagon_sepia.jpg) no-repeat #a77d52;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #a77d52 90%), url(./Assets/Speedwagon_sepia.jpg) no-repeat #a77d52;
  background-position: 0px -130px;
  background-size: 100vw 100vh;
  height: 100%;
}

#index::-webkit-scrollbar {
  width: 10px;
}

#index::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#index::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.288);
  outline: 1px solid slategrey;
  border-radius: 50px;
}

#index #bodycontainer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index #bodycontainer #welcome {
  width: 60%;
  margin-top: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index #bodycontainer #welcome p {
  text-align: center;
}

#index #bodycontainer #welcome img {
  width: 300px;
}

#index #bodycontainer #maincontent {
  width: 100%;
}

#index #bodycontainer #maincontent #features {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 200px;
}

#index #bodycontainer #maincontent #features .item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-start;
  margin: 50px 0;
}

#index #bodycontainer #maincontent #features .item-content img {
  border-radius: 10px;
  width: 300px;
  height: 200px;
}

#index #bodycontainer #maincontent #features .reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#index #bodycontainer #maincontent #reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index #bodycontainer #maincontent #reviews h4 {
  font-weight: normal;
}

#index #bodycontainer #maincontent #reviews .carousel {
  border-radius: 10px;
  width: 70vw;
  height: 350px;
}

#index #bodycontainer #maincontent #reviews .carousel .carousel-item .content {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#index #bodycontainer #maincontent #reviews .carousel .carousel-item .content .text-area {
  width: 470px;
}

#index #bodycontainer #maincontent #reviews .carousel .carousel-item .content img {
  height: 250px;
  width: 350px;
}

#index #bodycontainer #maincontent #signup {
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index #bodycontainer #maincontent #signup img {
  border-radius: 10px;
  height: 450px;
}

#AboutBackdrop {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#AboutBackdrop .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 800px;
  height: 600px;
  padding: 40px;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(219, 239, 240, 0.8))), url(/Assets/Speed.png) no-repeat #938d8d;
  background: linear-gradient(to bottom, rgba(219, 239, 240, 0.8)), url(/Assets/Speed.png) no-repeat #938d8d;
  background-size: 100% 100%;
}

#AboutBackdrop .inner h1 {
  text-decoration: underline;
}

#AboutBackdrop .inner .Text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #7a6868;
}

#AboutBackdrop .inner .Foot {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #000000;
}
/*# sourceMappingURL=index.css.map */