@import "../../color";
html {
  background-color: $brown-200;
}
.maincontainer {
  display: flex;
}

#maincontent {
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px);
  background-color: $brown-200;

  .btn-link {
    color: $brown-100;
  }

  .search-area {
    display: flex;
    justify-content: space-between;
    input {
      background-color: rgba($color: white, $alpha: 0.7);
    }
    .search {
      width: calc(100vw - 450px);
    }
    .btn {
      display: flex;
      justify-content: space-between;
    }
    btn-outline-light:hover {
      background-color: rgba($color: white, $alpha: 0.7);
    }
  }
  #settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 700px;
    border: solid 1px gray;
    border-radius: 15px;
    width: 800px;
    margin: 0 auto;
    color: white;
    background-color: $brown-400;
    .form-control {
      background-color: rgba($color: white, $alpha: 0.6);
      color: black;
      &::placeholder {
        color: $gray-200;
      }
    }
    #Myaccount-area {
      display: flex;
      #profile-pic {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        background-color: black;
      }
      #accinfo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p {
          margin: 0;
        }
      }
    }
    #changepass {
      .inputarea {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        input {
          width: 700px;
        }
        button {
          width: 180px;
        }
      }
    }
    #changeusername {
      input {
        width: 540px;
      }
      .btn {
        width: 160px;
      }
    }
  }
}
