/* SCSS Gradient */
html {
  background-color: #a77d52;
}

.maincontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#maincontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 250px);
  background-color: #a77d52;
}

#maincontent .btn-link {
  color: #fef3c3;
}

#maincontent .search-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#maincontent .search-area input {
  background-color: rgba(255, 255, 255, 0.7);
}

#maincontent .search-area .search {
  width: calc(100vw - 450px);
}

#maincontent .search-area .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#maincontent .search-area btn-outline-light:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

#maincontent #settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 700px;
  border: solid 1px gray;
  border-radius: 15px;
  width: 800px;
  margin: 0 auto;
  color: white;
  background-color: #5e4e42;
}

#maincontent #settings .form-control {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
}

#maincontent #settings .form-control::-webkit-input-placeholder {
  color: #625261;
}

#maincontent #settings .form-control:-ms-input-placeholder {
  color: #625261;
}

#maincontent #settings .form-control::-ms-input-placeholder {
  color: #625261;
}

#maincontent #settings .form-control::placeholder {
  color: #625261;
}

#maincontent #settings #Myaccount-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#maincontent #settings #Myaccount-area #profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: black;
}

#maincontent #settings #Myaccount-area #accinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#maincontent #settings #Myaccount-area #accinfo p {
  margin: 0;
}

#maincontent #settings #changepass .inputarea {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#maincontent #settings #changepass .inputarea input {
  width: 700px;
}

#maincontent #settings #changepass .inputarea button {
  width: 180px;
}

#maincontent #settings #changeusername input {
  width: 540px;
}

#maincontent #settings #changeusername .btn {
  width: 160px;
}
/*# sourceMappingURL=Settings.css.map */