.maincontainer {
  display: flex;
}

.inbox {
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px);
  background-color: whitesmoke;
  .search-area {
    display: flex;
    justify-content: space-between;
    .search {
      width: 980px;
    }
    .btn {
      display: flex;
      justify-content: space-between;
    }
  }
  .mail {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 720px;
    .mail-items {
      width: 100%;
      display: flex;
      padding: 20px;
      .email-title {
        width: 75%;
      }
    }
  }
}
