.container {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 260px;
    bottom: -70px;
    .pengaturan{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 800px;
        height: 730px;
        border: 0.05px solid grey;
        padding: 20px;
        .titlesettings {
            margin-top: 2;
            margin-bottom: 2;
            position: relative;
            display: flex;
            flex-direction: row;
            color: black;
        }
        .list{
            position: relative;
            display: flex;
            flex-direction: row;
            .btn{
                border-radius: 12px;
            }
        }
        .dp{
            position: relative;
            display: flex;
            flex-direction: row;
            .lingkaran {
                position: relative;
                bottom: 40px;
                left: 105px;
                width: 100px;
                height: 100px;
                background: grey;
                border-radius: 100%;
                display: inline-block;
              }
        }
        .pass {
            position: relative;
            display: flex;
            flex-direction: column;
            .form-control {
                position: relative;
                left: 180px;
                bottom: 43px;
                width: 500px;
              }
              .btn-primary {
                position: relative;
                left: 560px;
                bottom: 39px;
                margin-bottom: 20px;
                width: 120px;
              }
            .oldpass{
                position: relative;
                display: flex;
                flex-direction: column;
            }
            .newpass{
                position: relative;
                display: flex;
                flex-direction: column;
            }
        }
        .nama{
            position: relative;
            display: flex;
            flex-direction: column;
            .form-control {
                position: relative;
                left: 180px;
                bottom: 43px;
                width: 500px;
              }
              .btn-primary {
                position: relative;
                left: 560px;
                bottom: 39px;
                margin-bottom: 20px;
                width: 120px;
              }
        }
        .account {
            position: relative;
            display: flex;
            flex-direction: column;
            bottom: 104px;
            .useremail {
                position: relative;
                bottom: 436px;
                left: 230px;
              }
            .buttonlink{
                position: relative;
                display: flex;
                flex-direction: column;
                .user {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    bottom: 455px; 
                    left: 230px;
                }
                .pic{
                    position: relative; 
                    bottom: 475px; 
                    left: -78px;
                }
                .back{
                    position: relative; 
                    bottom: 485px; 
                    left: -60px;
                }
            }
        }
    }
}