@import "../../color";

.flex-end {
  align-self: center;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $brown-200 !important;
}
p {
  font-size: small;
}
.norm {
  font-size: medium;
}

#main {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 680px;
  background-color: $brown-400;
  color: white;
  margin: auto;
  padding: 10px;
  border: solid 1px rgba($color: gray, $alpha: 0.7);
  border-radius: 10px;
  text-align: center;
  .btn-link {
    color: $gray-100;
  }

  .intro {
    padding: 10px;
  }
  .spacer {
    margin: 1rem auto 2rem auto;
    background-color: rgba($color: gray, $alpha: 0.7);
    width: 90%;
    height: 1px;
  }
  .recover-form {
    text-align: start;
    display: flex;
    flex-direction: column;
  }
  .alternate {
    //margin-top: 20px;
    margin-top: auto;
    display: flex;
    flex-direction: column;

    .forgot {
      display: flex;
      align-self: center;
      justify-content: center;
      width: 100%;
    }
    .btn {
    }
  }
}
