.flex-col {
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
}
#sidebar-wrapper {
  height: 100vh;
  width: 250px;
  align-items: center;
  .navbar-brand {
    display: flex;
    height: 100px;
    align-items: center;
    img {
      height: 60px;
      width: 60px;
    }
  }
  .list-group {
    width: 100%;
    font-size: larger;
    .list-group-item {
      align-items: center;
      height: 50px;
    }
  }
  .profile {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.175);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .text {
      text-align: center;
      width: calc(100% - 90px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      * {
        margin: 0;
      }
    }
    .flex {
      justify-content: space-between;
    }
  }
}
