<div class="bg-light flex-col" id="sidebar-wrapper">
  <a class="navbar-brand my-2" href="/Dashboard/">
    <div id="sidebar-image-brand">
    </div>
    Speedwagon Mail</a
  >

  <div class="list-group list-group-flush mt-2">
    <a
      href="/Dashboard/#Inbox"
      class="list-group-item list-group-item-action bg-light"
      >Inbox</a
    >
    <a
      href="/Dashboard/#Unread"
      class="list-group-item list-group-item-action bg-light"
      >Unread</a
    >
    <a
      href="/Dashboard/#Sent"
      class="list-group-item list-group-item-action bg-light"
      >Sent</a
    >
    <a
      href="/Dashboard/#Favourite"
      class="list-group-item list-group-item-action bg-light"
      >Favourite</a
    >
    <a
      href="/Dashboard/#Spam"
      class="list-group-item list-group-item-action bg-light"
      >Spam</a
    >
  </div>

  <div class="profile flex mt-auto mb-2">
    <div class="flex-col">
      <p>Email@speedwagon.com</p>
      <div class="flex">
        <a href="/">Logout</a>
        <a href="/Dashboard/Settings">Profile</a>
      </div>
    </div>
    <img
      src="Dio_Yeah.jpg"
      alt="logo"
      class="rounded-circle mx-auto my-auto"
      style="width: 50px; height: 50px"
    />
  </div>
</div>

<script>
  $(document).ready(function (e) {
    $("#sidebar-image-brand").replaceWith(
      `<img src="/Assets/SPW_LOGO.png" alt="" class="rounded-circle mr-1"/>`
    );
  });
</script>
