<div class="flex-col" id="sidebar-wrapper">
  <a class="navbar-brand my-2" href="/Dashboard/">
    <div id="sidebar-image-brand"></div>
    Speedwagon Mail</a
  >

  <div class="list-group list-group-flush mt-2">
    <a
      href="/Dashboard/#Inbox"
      class="list-group-item list-group-item-action btn-link acti"
      >Inbox</a
    >
    <a
      href="/Dashboard/#Unread"
      class="list-group-item list-group-item-action btn-link"
      >Unread</a
    >
    <a
      href="/Dashboard/#Sent"
      class="list-group-item list-group-item-action btn-link"
      >Sent</a
    >
    <a
      href="/Dashboard/#Favourite"
      class="list-group-item list-group-item-action btn-link"
      >Favourite</a
    >
    <a
      href="/Dashboard/#Spam"
      class="list-group-item list-group-item-action btn-link"
      >Spam</a
    >
  </div>

  <div class="profile flex mt-auto mb-2">
    <div class="flex-col text">
      <p>Jonathan Joestar</p>

      <div class="flex">
        <a href="/Dashboard/Settings" class="btn-link">Profile</a>
        <a href="/" class="btn-link">Logout</a>
      </div>
    </div>
    <img
      src="/Assets/Dio_Yeah.jpg"
      alt="logo"
      class="rounded-circle my-auto"
      style="width: 50px; height: 50px"
    />
  </div>
</div>

<script>
  $(document).ready(function (e) {
    $("#sidebar-image-brand").replaceWith(
      `<img src="/Assets/SPW LOGO.png" alt="" class="rounded-circle mr-1"/>`
    );
  });
</script>
