<div class="bg-light border-right" id="sidebar-wrapper">
  <a class="navbar-brand" href="#">Speedwagon Mail</a>
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action bg-light"
      >Inbox</a
    >
    <a href="#" class="list-group-item list-group-item-action bg-light"
      >Unread</a
    >
    <a href="#" class="list-group-item list-group-item-action bg-light">Sent</a>
    <a href="#" class="list-group-item list-group-item-action bg-light"
      >Favourite</a
    >
    <a href="#" class="list-group-item list-group-item-action bg-light">Dpsm</a>
  </div>
</div>
<button class="btn btn-primary" id="sidebar-toggle">Toggle Menu</button>

<script>
  $("#sidebar-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>
