@import "../../color";
html {
  background-color: $brown-200;
}

.maincontainer {
  display: flex;

  .main {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: calc(100% - 250px);
    background-color: $brown-400;
    color: white;
    .btn-outline-light {
      border: none;
    }
    .btn-link {
      color: $brown-100;
    }
    .btn-red {
      background-color: transparent;
      color: #ff7b7b;
      font-weight: bold;
      &:hover {
        background-color: rgba($color: #ff5252, $alpha: 0.9);
        color: $gray-100;
      }
    }
    textarea {
      background-color: rgba($color: white, $alpha: 0.1);
      color: white;
    }

    h2 {
      align-items: center;
    }

    .mail-header {
      display: flex;
      align-content: flex-start;

      #backbtn {
        display: flex;
        align-items: center;
      }
      .media {
        h4 {
          font-size: large;
        }
      }
      .tri-btn {
        display: flex;
        flex-direction: column;
        a {
          width: 90px;
          display: flex;
          justify-content: space-between;
        }
      }
    }

    .mail-content {
      textarea {
        width: 100%;
        overflow-y: auto;
        height: calc(100vh - 170px);
        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(0, 0, 0, 0.288);
          outline: 1px solid slategrey;
          border-radius: 100px;
        }
      }
    }
  }
}
