.main
{
    width: 400px;
    height: 100%;
    background-color:white;
    margin: auto;
    padding: 10px;
    border-style: solid;
    border-color: black;
    .loginwith
    {
        text-align: center;
    }
    
    .loginbutton
    {
        text-align: center;
        padding: 10px;
    }
    .input
    {
        text-align: left;
    }
    
}


ul
{
    text-align: center;
}

li
{
    padding: 10px;
    display: inline-block;
}



