.maincontainer {
  display: flex;
}

.inbox {
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px);
  background-color: rgb(176, 201, 255);
  .search-area {
    display: flex;
    justify-content: space-around;
    input {
      width: 850px;
      height: 38px;
    }
  }
  .mail {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(100vh - 70px);
    .mail-items {
      width: 100%;
      display: flex;
      padding: 20px;
      .email-title {
        width: 75%;
      }
    }
  }
}
