.boxing {
  display: flex;
  align-content: stretch;

  .main {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    justify-content: space-between;
    width: calc(100% - 250px);
    height: 100vh;

    h2 {
      align-items: center;
    }

    .mail-header {
      display: flex;
      align-content: flex-start;
      #backbtn {
        display: flex;
        align-items: center;
      }
      .tri-btn {
        display: flex;
        flex-direction: column;
      }
    }

    .mail-content {
      textarea {
        width: 100%;
        overflow-y: auto;
      }
    }
  }
}
